<h1 mat-dialog-title>Edit availability for {{data.name}} on {{data.date | date: 'longDate'}}</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field>
            <input matInput [formControl]="inventoryLevel">
            <mat-error *ngIf="inventoryLevel.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="inventoryLevel.hasError('notAnInteger')">Should be an integer</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button [disabled]="!formGroup.valid" [mat-dialog-close]="inventoryLevel.value">Confirm availability</button>
</div>