<div style="height:400px; overflow:auto">

    <table mat-table [dataSource]="availabilities" style="width:100%;">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let availability"> {{availability.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="inventory_level">
            <th mat-header-cell *matHeaderCellDef> Inventory level </th>
            <td mat-cell *matCellDef="let availability"> {{availability.inventoryLevel}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let availability"> {{availability.date | date: 'longDate' }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let availability">
                <button mat-button (click)="openDialog(availability)">Edit</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>